@charset "UTF-8";
/* line 3, ../sass/saver.scss */
body,
html {
  height: 100%;
  font-family: 'Fira Sans';
  color: #5d5c5c;
}

/* line 10, ../sass/saver.scss */
input, select {
  padding: 5px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}

/* line 17, ../sass/saver.scss */
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
}

/* line 22, ../sass/saver.scss */
label {
  margin-bottom: 0;
}

/* line 26, ../sass/saver.scss */
.row-input input, .row-input select {
  display: inline-block;
}
/* line 29, ../sass/saver.scss */
.row-input select {
  width: 33%;
}
/* line 32, ../sass/saver.scss */
.row-input input {
  width: 66%;
}

/* line 36, ../sass/saver.scss */
a {
  color: #6AB8D7;
}
/* line 38, ../sass/saver.scss */
a:hover, a:active, a:focus {
  color: #359FC5;
  text-decoration: none;
}

/* line 46, ../sass/saver.scss */
h4 {
  line-height: normal;
}

/* line 50, ../sass/saver.scss */
section {
  padding: 50px 0;
}

/* line 53, ../sass/saver.scss */
section.other {
  background: #f1f1f1;
}

/* line 57, ../sass/saver.scss */
.page-content {
  margin: 65px 0 25px;
}

/* line 61, ../sass/saver.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 68, ../sass/saver.scss */
.text-large {
  font-size: 1.2em;
}

/* line 72, ../sass/saver.scss */
.btn {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 75, ../sass/saver.scss */
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

/* line 82, ../sass/saver.scss */
.btn-link {
  color: #6AB8D7;
}
/* line 84, ../sass/saver.scss */
.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #359FC5;
  text-decoration: none;
}

/* line 92, ../sass/saver.scss */
.btn-primary {
  background-color: #6AB8D7;
  color: #fff;
  border-color: #6AB8D7;
}
/* line 96, ../sass/saver.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #42a5cc;
  color: #fff;
  border-color: #42a5cc;
}

/* line 105, ../sass/saver.scss */
.btn-secondary {
  background-color: #fff;
  opacity: .8;
  color: #6AB8D7;
  border-color: #fff;
}
/* line 110, ../sass/saver.scss */
.btn-secondary:hover {
  color: #6AB8D7;
  opacity: 1;
}

/* line 116, ../sass/saver.scss */
.bg-light {
  background: #F8F8F8;
}

/* line 120, ../sass/saver.scss */
.card {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
}
/* line 127, ../sass/saver.scss */
.card .card-header {
  background: #0dd7bc;
  background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
  padding: 15px 15px;
  color: #fff;
}
/* line 135, ../sass/saver.scss */
.card .card-header a {
  color: #fff;
}
/* line 139, ../sass/saver.scss */
.card .card-content {
  padding: 15px 15px 5px;
}
/* line 142, ../sass/saver.scss */
.card .card-footer {
  border-top: 1px solid #F8F8F8;
}
/* line 145, ../sass/saver.scss */
.card .card-title {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 149, ../sass/saver.scss */
.card .card-subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  opacity: .5;
}

/* line 156, ../sass/saver.scss */
.header {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
  position: relative;
}
/* line 162, ../sass/saver.scss */
.header.home {
  background: url(../img/back-register.jpg) no-repeat center;
  background-size: cover;
}
/* line 166, ../sass/saver.scss */
.header .card-content {
  padding: 10px 5%;
}

/* line 171, ../sass/saver.scss */
.profile {
  text-align: center;
}

/* line 174, ../sass/saver.scss */
.profile-img {
  background: gray url(../img/user.png) no-repeat;
}

/* line 177, ../sass/saver.scss */
.service-img {
  background: gray url(../img/service.jpg) no-repeat;
}

/* line 180, ../sass/saver.scss */
.profile-img,
.service-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* line 192, ../sass/saver.scss */
.img-lg {
  width: 150px;
  height: 150px;
}

/* line 196, ../sass/saver.scss */
.btn-float {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

/* line 205, ../sass/saver.scss */
.top-bar {
  position: relative;
  margin-bottom: 15px;
}
/* line 208, ../sass/saver.scss */
.top-bar .nav-tabs {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: none;
}
/* line 215, ../sass/saver.scss */
.top-bar .nav > li > a {
  font-size: 1.2em;
}
/* line 218, ../sass/saver.scss */
.top-bar .nav > li > a:focus, .top-bar .nav > li > a:hover {
  border-color: transparent;
  background: none;
}
/* line 222, ../sass/saver.scss */
.top-bar .nav-tabs > li.active > a, .top-bar .nav-tabs > li.active > a:focus, .top-bar .nav-tabs > li.active > a:hover {
  border: none;
  border-bottom: 3px solid #6AB8D7;
}

/* line 228, ../sass/saver.scss */
.tab-pane {
  padding: 0 0 15px;
}

/* line 231, ../sass/saver.scss */
.header .card {
  margin-top: 100px;
  margin-bottom: 75px;
}

/* line 236, ../sass/saver.scss */
.text-tiny {
  font-size: 0.8em;
}

/* line 240, ../sass/saver.scss */
.form.horizontal {
  display: flex;
}
/* line 242, ../sass/saver.scss */
.form.horizontal .form-input {
  margin-left: 10px;
}
/* line 245, ../sass/saver.scss */
.form.horizontal input {
  display: block;
}
/* line 248, ../sass/saver.scss */
.form.horizontal input[type=submit] {
  display: inline-block;
}

/* line 253, ../sass/saver.scss */
footer {
  background: #333;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
}
/* line 259, ../sass/saver.scss */
footer a {
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  opacity: .8;
  font-size: .8em;
}
/* line 265, ../sass/saver.scss */
footer a:hover {
  opacity: 1;
}

/* line 271, ../sass/saver.scss */
.footer-home {
  position: absolute;
  bottom: 0;
}

/* line 276, ../sass/saver.scss */
table.pricing th {
  background: #6AB8D7;
  color: #fff;
  width: 33.3%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}
/* line 284, ../sass/saver.scss */
table.pricing .blank {
  background-color: transparent !important;
  border-top: 0;
}
/* line 288, ../sass/saver.scss */
table.pricing th.gray {
  background: #959494;
}
/* line 291, ../sass/saver.scss */
table.pricing td {
  height: 80px;
  vertical-align: middle !important;
}
/* line 295, ../sass/saver.scss */
table.pricing td.benefit {
  text-align: left;
}
/* line 298, ../sass/saver.scss */
table.pricing .glyphicon {
  font-size: 30px;
  color: #80b926;
}

@media only screen and (max-width: 768px) {
  /* line 304, ../sass/saver.scss */
  .header {
    display: block;
    height: auto;
  }
  /* line 307, ../sass/saver.scss */
  .header .card {
    margin-top: 15px;
  }

  /* line 311, ../sass/saver.scss */
  .page-content {
    margin-top: 140px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 316, ../sass/saver.scss */
  .top-bar .nav-tabs {
    position: static;
  }
}
/* line 1, ../sass/_nav.scss */
.navbar {
  background: #0dd7bc;
  background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
  position: fixed;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 0;
  width: 100%;
  z-index: 2;
}
/* line 10, ../sass/_nav.scss */
.navbar a {
  color: #fff;
}
/* line 13, ../sass/_nav.scss */
.navbar input {
  margin-bottom: 0;
}
/* line 16, ../sass/_nav.scss */
.navbar .logo {
  width: 170px;
  float: left;
  padding: 10px 0;
}
/* line 20, ../sass/_nav.scss */
.navbar .logo img {
  max-width: 140px;
}
/* line 24, ../sass/_nav.scss */
.navbar .navbar-search {
  width: 100%;
  float: left;
}
/* line 28, ../sass/_nav.scss */
.navbar .form-group {
  vertical-align: top;
}
/* line 31, ../sass/_nav.scss */
.navbar .navbar-form {
  border: none;
}
/* line 34, ../sass/_nav.scss */
.navbar .navbar-search .form-group {
  width: 100%;
}
/* line 36, ../sass/_nav.scss */
.navbar .navbar-search .form-group input[type=search] {
  width: 100%;
  background: rgba(33, 99, 123, 0.2) url(../img/search.png) no-repeat 99% center;
  background-size: 20px;
  color: #fff;
  padding: 5px 32px 5px 10px;
  border: 0;
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 49, ../sass/_nav.scss */
.navbar.static {
  position: static;
  background-image: url(../img/back-register.jpg);
  background-size: cover;
  background-position: center;
}

/* line 58, ../sass/_nav.scss */
.login .logo {
  width: 100%;
}

/* line 63, ../sass/_nav.scss */
.navbar-user {
  text-align: right;
}
/* line 65, ../sass/_nav.scss */
.navbar-user div {
  display: inline-block;
}
/* line 68, ../sass/_nav.scss */
.navbar-user .btn-link {
  color: #fff;
  opacity: .8;
  font-weight: 300;
}
/* line 72, ../sass/_nav.scss */
.navbar-user .btn-link:hover {
  opacity: 1;
}
/* line 76, ../sass/_nav.scss */
.navbar-user .profile {
  margin-left: 10px;
  vertical-align: middle;
}
/* line 80, ../sass/_nav.scss */
.navbar-user .profile-img-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff url(../img/user.png) no-repeat center;
  background-size: contain;
  margin: 0 5px;
}
/* line 89, ../sass/_nav.scss */
.navbar-user .notifications a {
  font-size: 22px;
  padding: 8px;
}
/* line 93, ../sass/_nav.scss */
.navbar-user .notifications .btn.dropdown-toggle {
  font-size: 16px;
  text-transform: none;
}
/* line 98, ../sass/_nav.scss */
.navbar-user .hamburger {
  display: none;
}
/* line 102, ../sass/_nav.scss */
.navbar-user .dropdown .dropdown-menu {
  border: none;
  left: inherit;
  right: 0;
}
/* line 106, ../sass/_nav.scss */
.navbar-user .dropdown .dropdown-menu li a {
  font-size: 1em;
}

/* line 113, ../sass/_nav.scss */
.menu {
  display: none;
  text-align: right;
  color: #fff;
}

/* line 119, ../sass/_nav.scss */
.menu .btn-link {
  color: #fff;
  font-size: 28px;
}

/* line 125, ../sass/_nav.scss */
.vertical-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 130, ../sass/_nav.scss */
.vertical-nav ul li a {
  padding: 10px 0;
  display: block;
  font-size: 16px;
}
/* line 137, ../sass/_nav.scss */
.vertical-nav .material-icons {
  transform: translateY(5px);
  margin-right: 10px;
}

/* line 144, ../sass/_nav.scss */
#mobile-nav .modal-header {
  background: #0dd7bc;
  background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
  display: inline-block;
  border-bottom: 0;
  display: inline-block;
  width: 100%;
  padding: 15px;
}
/* line 147, ../sass/_nav.scss */
#mobile-nav .modal-header a {
  color: #fff;
}
/* line 150, ../sass/_nav.scss */
#mobile-nav .modal-header a p {
  opacity: .7;
}
/* line 153, ../sass/_nav.scss */
#mobile-nav .modal-header h4 {
  margin-bottom: 0;
}
/* line 160, ../sass/_nav.scss */
#mobile-nav .modal-header .close {
  font-size: 3em;
  padding: 0;
  color: #fff;
  margin-top: -15px;
  opacity: .4;
}
/* line 168, ../sass/_nav.scss */
#mobile-nav .modal-dialog {
  margin: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  float: right;
  height: 100%;
  width: 300px;
}
/* line 175, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
  background: #fff;
  padding: 0;
}
/* line 180, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 184, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content ul a {
  display: block;
  border-right: 1px solid #F8F8F8;
  padding: 10px 15px;
  font-size: 1.2em;
}
/* line 189, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content ul a:last-child {
  border: none;
}
/* line 196, ../sass/_nav.scss */
#mobile-nav .modal-body {
  padding: 0;
}

/* line 201, ../sass/_nav.scss */
.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}

@media only screen and (max-width: 768px) {
  /* line 207, ../sass/_nav.scss */
  .navbar .btn-secondary {
    position: absolute;
    right: 15px;
    bottom: 5px;
  }

  /* line 212, ../sass/_nav.scss */
  .navbar.login {
    position: static;
  }

  /* line 215, ../sass/_nav.scss */
  .navbar-user .hamburger {
    display: inline-block;
  }

  /* line 218, ../sass/_nav.scss */
  .notifications .dropdown {
    display: none;
  }
}
/* line 1, ../sass/_internal.scss */
.page-title {
  padding: 100px 0;
  color: #fff;
}
/* line 4, ../sass/_internal.scss */
.page-title h1 {
  font-size: 50px;
}

/* line 8, ../sass/_internal.scss */
.section-title {
  text-align: center;
  padding: 0px 0 50px;
}
/* line 11, ../sass/_internal.scss */
.section-title .sub {
  color: #959494;
}

/* line 15, ../sass/_internal.scss */
.service-box {
  text-align: center;
  margin-bottom: 15px;
}
/* line 18, ../sass/_internal.scss */
.service-box img {
  max-width: 100px;
}
/* line 21, ../sass/_internal.scss */
.service-box .material-icons {
  font-size: 120px;
  color: #6AB8D7;
}

/* line 3, ../sass/_feed.scss */
.feed .sidebar-left h4 {
  margin-bottom: 0;
}
/* line 6, ../sass/_feed.scss */
.feed .sidebar-left .card-footer {
  padding: 10px;
  border-top: 1px solid #F8F8F8;
}
/* line 9, ../sass/_feed.scss */
.feed .sidebar-left .card-footer a {
  color: #c6c6c6;
  font-size: 12px;
}
/* line 12, ../sass/_feed.scss */
.feed .sidebar-left .card-footer a:after {
  content: '•';
  color: #c6c6c6;
  margin: 0 5px 0 8px;
}
/* line 17, ../sass/_feed.scss */
.feed .sidebar-left .card-footer a:last-child::after {
  content: '';
}
/* line 22, ../sass/_feed.scss */
.feed .sidebar-left .followers {
  text-align: center;
  border-bottom: 1px solid #F8F8F8;
  font-size: 16px;
}
/* line 26, ../sass/_feed.scss */
.feed .sidebar-left .followers a {
  display: inline-block;
  border-right: 1px solid #F8F8F8;
  padding: 10px;
}
/* line 30, ../sass/_feed.scss */
.feed .sidebar-left .followers a:last-child {
  border: none;
}
/* line 37, ../sass/_feed.scss */
.feed .posts .post {
  margin-bottom: 15px;
}
/* line 41, ../sass/_feed.scss */
.feed .posts .post-header .profile {
  text-align: left;
  margin-botom: 0px;
}
/* line 45, ../sass/_feed.scss */
.feed .posts .post-header .profile-img {
  text-align: left;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  float: left;
  border-radius: 3px;
  border: 1px solid #F8F8F8;
}
/* line 56, ../sass/_feed.scss */
.feed .posts .post-header .meta {
  opacity: .3;
}
/* line 61, ../sass/_feed.scss */
.feed .posts .post-description {
  clear: both;
  margin: 25px 0 10px;
}
/* line 66, ../sass/_feed.scss */
.feed .posts .post-img {
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 71, ../sass/_feed.scss */
.feed .posts .post-actions {
  text-align: right;
  font-size: 16px;
}
/* line 74, ../sass/_feed.scss */
.feed .posts .post-actions a {
  display: inline-block;
  padding: 10px 5px;
  margin-left: 15px;
}
/* line 82, ../sass/_feed.scss */
.feed .new-post .profile-img {
  width: 50px;
  height: 50px;
}
/* line 86, ../sass/_feed.scss */
.feed .new-post textarea {
  margin-bottom: 10px;
}
/* line 89, ../sass/_feed.scss */
.feed .new-post a {
  font-size: 22px;
}
/* line 94, ../sass/_feed.scss */
.feed .sidebar-right .btn-float-right {
  position: absolute;
  top: 10px;
  right: 25px;
}
/* line 99, ../sass/_feed.scss */
.feed .sidebar-right .img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 103, ../sass/_feed.scss */
.feed .sidebar-right .img-list .img-list-item {
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 109, ../sass/_feed.scss */
.feed .sidebar-right .img-list img {
  float: left;
  width: 20%;
  height: auto;
  margin-right: 5%;
}
/* line 115, ../sass/_feed.scss */
.feed .sidebar-right .img-list span {
  float: left;
  width: 75%;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  /* line 124, ../sass/_feed.scss */
  .sidebar-left,
  .sidebar-right {
    display: none;
  }
}
/* line 2, ../sass/_profile.scss */
.personal-data h1, .personal-data h3 {
  margin: 0;
}
/* line 5, ../sass/_profile.scss */
.personal-data h3 {
  opacity: .5;
  margin-bottom: 10px;
}

/* line 10, ../sass/_profile.scss */
.rating {
  padding: 10px;
  text-align: center;
}
/* line 13, ../sass/_profile.scss */
.rating span {
  font-size: 1.5em;
  color: #6AB8D7;
}

/* line 18, ../sass/_profile.scss */
.service {
  position: relative;
}
/* line 20, ../sass/_profile.scss */
.service .service-description {
  position: relative;
}
/* line 23, ../sass/_profile.scss */
.service .rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
/* line 29, ../sass/_profile.scss */
.service .rating span {
  font-size: 1em;
  margin: 0;
}
/* line 35, ../sass/_profile.scss */
.service .price {
  padding-left: 20px;
}
/* line 38, ../sass/_profile.scss */
.service .btn-float {
  top: 0;
  right: 0;
}

/* line 43, ../sass/_profile.scss */
.edit-img {
  font-size: 1.8em;
  position: absolute;
  right: -8px;
  bottom: -8px;
}

/* line 49, ../sass/_profile.scss */
.edit-group {
  position: relative;
}
/* line 51, ../sass/_profile.scss */
.edit-group .btn-sm {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  /* line 59, ../sass/_profile.scss */
  .service .rating {
    position: static;
    text-align: left;
  }
}
