@charset "UTF-8";
/* line 3, ../sass/saver.scss */
body,
html {
  height: 100%;
  font-family: 'Fira Sans';
  color: #5d5c5c;
}

/* line 10, ../sass/saver.scss */
input {
  padding: 5px;
  border-radius: 3px;
  border: none;
}

/* line 16, ../sass/saver.scss */
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
}

/* line 22, ../sass/saver.scss */
a {
  color: #6BB8D7;
}
/* line 24, ../sass/saver.scss */
a:hover, a:active, a:focus {
  color: #359FC5;
  text-decoration: none;
}

/* line 31, ../sass/saver.scss */
h4 {
  line-height: normal;
}

/* line 34, ../sass/saver.scss */
section {
  padding: 100px 0;
}

/* line 38, ../sass/saver.scss */
.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 44, ../sass/saver.scss */
.text-large {
  font-size: 1.2em;
}

/* line 48, ../sass/saver.scss */
.btn {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 53, ../sass/saver.scss */
.btn-link {
  color: #6BB8D7;
}
/* line 55, ../sass/saver.scss */
.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #359FC5;
  text-decoration: none;
}

/* line 63, ../sass/saver.scss */
.btn-primary {
  background-color: #6BB8D7;
  color: #fff;
  border-color: #6BB8D7;
}
/* line 67, ../sass/saver.scss */
.btn-primary:hover {
  background: #43a5cc;
  color: #fff;
  border-color: #43a5cc;
}

/* line 74, ../sass/saver.scss */
.btn-secondary {
  background-color: #fff;
  opacity: .8;
  color: #6BB8D7;
  border-color: #fff;
}
/* line 79, ../sass/saver.scss */
.btn-secondary:hover {
  color: #6BB8D7;
  opacity: 1;
}

/* line 85, ../sass/saver.scss */
.bg-light {
  background: #F8F8F8;
}

/* line 89, ../sass/saver.scss */
.card {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/* line 94, ../sass/saver.scss */
.card .card-header {
  background: #0dd7bc;
  background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
  padding: 15px 15px;
  color: #fff;
}
/* line 102, ../sass/saver.scss */
.card .card-header a {
  color: #fff;
}
/* line 106, ../sass/saver.scss */
.card .card-content {
  padding: 10px;
}
/* line 109, ../sass/saver.scss */
.card .card-footer {
  border-top: 1px solid #F8F8F8;
}

/* line 114, ../sass/saver.scss */
.header {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
  position: relative;
}
/* line 120, ../sass/saver.scss */
.header.home {
  background: url(../img/back-register.jpg) no-repeat center;
  background-size: cover;
}
/* line 124, ../sass/saver.scss */
.header input, .header select {
  margin-bottom: 15px;
}
/* line 127, ../sass/saver.scss */
.header .card-content {
  padding: 10px 5%;
}

/* line 132, ../sass/saver.scss */
.profile {
  text-align: center;
}
/* line 134, ../sass/saver.scss */
.profile .profile-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  background: gray url(../img/user.png);
}

/* line 144, ../sass/saver.scss */
.header .card {
  margin-top: 100px;
  margin-bottom: 75px;
}

/* line 149, ../sass/saver.scss */
.text-tiny {
  font-size: 0.8em;
}

/* line 153, ../sass/saver.scss */
.form.horizontal {
  display: flex;
}
/* line 155, ../sass/saver.scss */
.form.horizontal .form-input {
  margin-left: 10px;
}
/* line 158, ../sass/saver.scss */
.form.horizontal input {
  display: block;
}
/* line 161, ../sass/saver.scss */
.form.horizontal input[type=submit] {
  display: inline-block;
}

/* line 166, ../sass/saver.scss */
footer {
  background: #333;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
}
/* line 172, ../sass/saver.scss */
footer a {
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  opacity: .8;
  font-size: .8em;
}
/* line 178, ../sass/saver.scss */
footer a:hover {
  opacity: 1;
}

/* line 184, ../sass/saver.scss */
.footer-home {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  /* line 190, ../sass/saver.scss */
  .header {
    display: block;
    height: auto;
  }
  /* line 193, ../sass/saver.scss */
  .header .card {
    margin-top: 15px;
  }
}
/* line 1, ../sass/_nav.scss */
.navbar {
  background: #0dd7bc;
  background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
  position: fixed;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 0;
  width: 100%;
  z-index: 2;
}
/* line 10, ../sass/_nav.scss */
.navbar a {
  color: #fff;
}
/* line 13, ../sass/_nav.scss */
.navbar .logo {
  width: 170px;
  float: left;
  padding: 10px 0;
}
/* line 17, ../sass/_nav.scss */
.navbar .logo img {
  max-width: 140px;
}
/* line 21, ../sass/_nav.scss */
.navbar .navbar-search {
  width: 100%;
  float: left;
}
/* line 25, ../sass/_nav.scss */
.navbar .form-group {
  vertical-align: top;
}
/* line 28, ../sass/_nav.scss */
.navbar .navbar-form {
  border: none;
}
/* line 31, ../sass/_nav.scss */
.navbar .navbar-search .form-group {
  width: 100%;
}
/* line 33, ../sass/_nav.scss */
.navbar .navbar-search .form-group input[type=search] {
  width: 100%;
  background: rgba(33, 99, 123, 0.2) url(../img/search.png) no-repeat 99% center;
  background-size: 20px;
  color: #fff;
  padding: 5px 32px 5px 10px;
  border: 0;
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 10, ../sass/_mixins.scss */
.navbar .navbar-search .form-group input[type=search]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 46, ../sass/_nav.scss */
.navbar.static {
  position: static;
}

/* line 52, ../sass/_nav.scss */
.login .logo {
  width: 100%;
}

/* line 57, ../sass/_nav.scss */
.navbar-user {
  text-align: right;
}
/* line 59, ../sass/_nav.scss */
.navbar-user div {
  display: inline-block;
}
/* line 62, ../sass/_nav.scss */
.navbar-user .btn-link {
  color: #fff;
  opacity: .8;
  font-weight: 300;
}
/* line 66, ../sass/_nav.scss */
.navbar-user .btn-link:hover {
  opacity: 1;
}
/* line 70, ../sass/_nav.scss */
.navbar-user .profile {
  margin-left: 10px;
  vertical-align: middle;
}
/* line 74, ../sass/_nav.scss */
.navbar-user .profile-img-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff url(../img/user.png) no-repeat center;
  background-size: contain;
}
/* line 82, ../sass/_nav.scss */
.navbar-user .notifications a {
  font-size: 22px;
  padding: 8px;
}
/* line 87, ../sass/_nav.scss */
.navbar-user .hamburger {
  display: none;
}
/* line 91, ../sass/_nav.scss */
.navbar-user .dropdown .dropdown-menu {
  border: none;
}
/* line 94, ../sass/_nav.scss */
.navbar-user .dropdown .material-icons {
  font-size: 16px;
  margin-right: 14px;
}

/* line 101, ../sass/_nav.scss */
.menu {
  display: none;
  text-align: right;
  color: #fff;
}

/* line 107, ../sass/_nav.scss */
.menu .btn-link {
  color: #fff;
  font-size: 28px;
}

/* line 113, ../sass/_nav.scss */
.vertical-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 118, ../sass/_nav.scss */
.vertical-nav ul li a {
  padding: 10px;
  display: block;
  font-size: 16px;
}
/* line 125, ../sass/_nav.scss */
.vertical-nav .material-icons {
  transform: translateY(5px);
  margin-right: 10px;
}

/* line 132, ../sass/_nav.scss */
#mobile-nav .modal-header {
  background: #0dd7bc;
  background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
  display: inline-block;
  border-bottom: 0;
  display: inline-block;
  width: 100%;
  padding: 15px;
}
/* line 135, ../sass/_nav.scss */
#mobile-nav .modal-header a {
  color: #fff;
}
/* line 138, ../sass/_nav.scss */
#mobile-nav .modal-header a p {
  opacity: .7;
}
/* line 141, ../sass/_nav.scss */
#mobile-nav .modal-header h4 {
  margin-bottom: 0;
}
/* line 148, ../sass/_nav.scss */
#mobile-nav .modal-header .close {
  font-size: 3em;
  padding: 0;
  color: #fff;
  margin-top: -15px;
  opacity: .4;
}
/* line 156, ../sass/_nav.scss */
#mobile-nav .modal-dialog {
  margin: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  float: right;
  height: 100%;
  width: 300px;
}
/* line 163, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
  background: #fff;
  padding: 0;
}
/* line 168, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 172, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content ul a {
  display: block;
  border-right: 1px solid #F8F8F8;
  padding: 10px 15px;
  font-size: 1.2em;
}
/* line 177, ../sass/_nav.scss */
#mobile-nav .modal-dialog .modal-content ul a:last-child {
  border: none;
}
/* line 185, ../sass/_nav.scss */
#mobile-nav .modal-body {
  padding: 0;
}

/* line 190, ../sass/_nav.scss */
.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}

@media only screen and (max-width: 768px) {
  /* line 196, ../sass/_nav.scss */
  .navbar .btn-secondary {
    position: absolute;
    right: 15px;
    bottom: 5px;
  }

  /* line 201, ../sass/_nav.scss */
  .navbar.login {
    position: static;
  }

  /* line 204, ../sass/_nav.scss */
  .dropdown {
    display: none !important;
  }

  /* line 207, ../sass/_nav.scss */
  .navbar-user .hamburger {
    display: inline-block;
  }
}
/* line 1, ../sass/_internal.scss */
.page-title {
  padding: 25px 0;
  color: #fff;
}

/* line 5, ../sass/_internal.scss */
.section-title {
  text-align: center;
  padding: 50px 0 50px;
}
/* line 8, ../sass/_internal.scss */
.section-title .sub {
  color: #959494;
}

/* line 12, ../sass/_internal.scss */
.service-box {
  text-align: center;
  margin-bottom: 15px;
}
/* line 15, ../sass/_internal.scss */
.service-box img {
  max-width: 100px;
}
/* line 18, ../sass/_internal.scss */
.service-box .material-icons {
  font-size: 120px;
  color: #6BB8D7;
}

/* line 1, ../sass/_feed.scss */
.feed {
  margin: 65px 0 25px;
}
/* line 4, ../sass/_feed.scss */
.feed .sidebar-left .card-footer {
  padding: 10px;
  border-top: 1px solid #F8F8F8;
}
/* line 7, ../sass/_feed.scss */
.feed .sidebar-left .card-footer a {
  color: #c6c6c6;
  font-size: 12px;
}
/* line 10, ../sass/_feed.scss */
.feed .sidebar-left .card-footer a:after {
  content: '•';
  color: #c6c6c6;
  margin: 0 5px 0 8px;
}
/* line 15, ../sass/_feed.scss */
.feed .sidebar-left .card-footer a:last-child::after {
  content: '';
}
/* line 20, ../sass/_feed.scss */
.feed .sidebar-left .followers {
  text-align: center;
  border-bottom: 1px solid #F8F8F8;
  font-size: 16px;
}
/* line 24, ../sass/_feed.scss */
.feed .sidebar-left .followers a {
  display: inline-block;
  border-right: 1px solid #F8F8F8;
  padding: 10px;
}
/* line 28, ../sass/_feed.scss */
.feed .sidebar-left .followers a:last-child {
  border: none;
}
/* line 35, ../sass/_feed.scss */
.feed .posts .post {
  margin-bottom: 15px;
}
/* line 39, ../sass/_feed.scss */
.feed .posts .post-header .profile {
  text-align: left;
}
/* line 42, ../sass/_feed.scss */
.feed .posts .post-header .profile-img {
  text-align: left;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  float: left;
  border-radius: 3px;
  border: 1px solid #F8F8F8;
}
/* line 53, ../sass/_feed.scss */
.feed .posts .post-header .meta {
  opacity: .3;
}
/* line 57, ../sass/_feed.scss */
.feed .posts .post-description {
  clear: both;
  margin: 25px 0 10px;
}
/* line 62, ../sass/_feed.scss */
.feed .posts .post-img {
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 67, ../sass/_feed.scss */
.feed .posts .post-actions {
  text-align: right;
  font-size: 16px;
}
/* line 70, ../sass/_feed.scss */
.feed .posts .post-actions a {
  display: inline-block;
  padding: 10px 5px;
  margin-left: 15px;
}
/* line 78, ../sass/_feed.scss */
.feed .sidebar-right .btn-float-right {
  position: absolute;
  top: 10px;
  right: 25px;
}
/* line 83, ../sass/_feed.scss */
.feed .sidebar-right .img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 87, ../sass/_feed.scss */
.feed .sidebar-right .img-list .img-list-item {
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 93, ../sass/_feed.scss */
.feed .sidebar-right .img-list img {
  float: left;
  width: 20%;
  height: auto;
  margin-right: 5%;
}
/* line 99, ../sass/_feed.scss */
.feed .sidebar-right .img-list span {
  float: left;
  width: 75%;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  /* line 108, ../sass/_feed.scss */
  .feed {
    margin-top: 140px;
  }

  /* line 111, ../sass/_feed.scss */
  .sidebar-left,
  .sidebar-right {
    display: none;
  }
}
