.page-title{
    padding: 100px 0;
    color: #fff;
    h1{
        font-size: 50px;
    }
}
.section-title{
    text-align: center;
    padding: 0px 0 50px;
    .sub{
        color: $muted;
    }
}
.service-box{
    text-align: center;
    margin-bottom: 15px;
    img{
        max-width: 100px;
    }
    .material-icons{
        font-size: 120px;
        color: $accent;
    }
}