@import 'variables';
@import 'mixins';
body,
html {
    height: 100%;
    font-family: 'Fira Sans';
    color: #5d5c5c;
}

input, select {
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-bottom:10px;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
}
label{
    margin-bottom: 0;
}
.row-input{
    input,select{
        display: inline-block;
    }
    select{
        width: 33%;
    }
    input{
        width: 66%;
    }
}
a {
    color: $accent;
    &:hover,
    &:active,
    &:focus {
        color: #359FC5;
        text-decoration: none;
    }
}

h4 {
    line-height: normal;
}

section {
    padding: 50px 0;
}
section.other{
    background: #f1f1f1;
}

.page-content {
    margin: 65px 0 25px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-right:15px;
    padding-left: 15px;
}

.text-large {
    font-size: 1.2em;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus{
        outline:none;
    }
}

.btn-link {
    color: $accent;
    &:hover,
    &:active,
    &:focus {
        color: #359FC5;
        text-decoration: none;
    }
}

.btn-primary {
    background-color: $accent;
    color: #fff;
    border-color: $accent;
    &:hover,
    &:focus,
    &:active{
        background: darken($accent, 10%);
        color: #fff;
        border-color: darken($accent, 10%);
    }
}

.btn-secondary {
    background-color: #fff;
    opacity: .8;
    color: $accent;
    border-color: #fff;
    &:hover {
        color: $accent;
        opacity: 1;
    }
}

.bg-light {
    background: $primary;
}

.card {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    .card-header {
        background: #0dd7bc;
        background: -moz-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
        background: -webkit-linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
        background: linear-gradient(45deg, #0dd7bc 0%, #6bbad7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd7bc', endColorstr='#6bbad7', GradientType=1);
        padding: 15px 15px;
        color: #fff;
        a {
            color: #fff;
        }
    }
    .card-content {
        padding: 15px 15px 5px;
    }
    .card-group{
        margin-bottom: 15px;
    }
    .card-footer {
        border-top: 1px solid $light;
    }
    .card-title{
        margin-top: 0;
        margin-bottom: 15px;;
    }
    .card-subtitle{
        margin-top: 10px;
        margin-bottom: 0;
        opacity: .5;
    }
}

.header {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
    position: relative;
    &.home {
        background: url(../img/back-register.jpg) no-repeat center;
        background-size: cover;
    }
    .card-content {
        padding: 10px 5%;
    }
}

.profile {
    text-align: center;
}
.profile-img{
    background: gray url(../img/user.png) no-repeat;
}
.service-img{
    background: gray url(../img/service.jpg) no-repeat;
}
.profile-img,
.service-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;    
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-lg{
    width: 150px;
    height: 150px;
}
.img-sm{
    width: 50px;
    height: 50px;
}
.btn-float{
    position: absolute;
    top: 15px;
    right: 15px;
}

.nav-tabs{
    border-bottom: none;
    display: flex;
    overflow-x: scroll;
    li{
        flex-grow: 1;
        text-align: center;
    }
}
.nav>li>a{
    font-size: 1.2em
}
.nav>li>a:focus, .nav>li>a:hover{
    border-color:transparent;
    background:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:none;
    border-bottom: 5px solid $accent;
}    

.tab-pane{
    padding: 0 0 15px;
}
.header .card {
    margin-top: 100px;
    margin-bottom: 75px;
}

.text-tiny {
    font-size: 0.8em;
}

.form.horizontal {
    display: flex;
    .form-input {
        margin-left: 10px;
    }
    input {
        display: block;
    }
    input[type=submit] {
        display: inline-block;
    }
}

footer {
    background: #333;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #fff;
    a {
        display: inline-block;
        padding: 5px 15px;
        color: #fff;
        opacity: .8;
        font-size: .8em;
        &:hover {
            opacity: 1;
        }
    }
}

.footer-home {
    position: absolute;
    bottom: 0;
}
table.pricing{
    th{
        background: $accent;
        color: #fff;
        width: 33.3%;
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
    }
    .blank{
        background-color: transparent !important;
        border-top: 0;
    }
    th.gray{
        background: $muted;
    }
    td{
        height: 80px;
        vertical-align: middle !important;
    }
    td.benefit{
        text-align: left;
    }
    .glyphicon{
        font-size: 30px;
        color: #80b926;
    }
}
@media only screen and (max-width: 768px) {
    .header {
        display: block;
        height: auto;
        .card {
            margin-top: 15px;
        }
    }
    .page-content{
        margin-top: 140px;
    }
    
}
@media only screen and (max-width: 480px) {
    .top-bar .nav-tabs{
        position: static;
    }
}

@import 'nav';
@import 'internal';
@import 'feed';
@import 'profile';
@import 'chat';